*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav li:first-child {
    margin-right: auto;
}

.logo img {
    width: 50px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.142);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 img {
    width: 60%;
}

.menu {
    display: none;
}

@media (max-width:800px) {
    .img1 img {
        width: 100%;
    }

    .hideOnMobile {
        display: none;
    }
    .menu {
        display: flex;
    }
}

@media (max-width:400px) {
    .sidebar {
        width: 100%;
    }
}

.herotext {
    padding: 20px;
}

.containerabout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    gap: 10px;
}

    .card {
      width: 240px;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    .card img {
      width: 100%;
      height: auto;
      display: block;
    }

    .card-text {
      padding: 15px;
      background-color: #fff;
    }

@media (max-width:1000px) {
    .containerabout {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:700px) {
    .containerabout {
        grid-template-columns: 1fr;
    }
}